@model dynamic

@{
    ViewBag.Title = "Found Pets";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Search for found pets here
                </h1>
                <small>Placeholder for searchable/filterable list</small>
            </div>
        </div>
    </div>
</div>
